.recommended-box {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  height: 150px;
  list-style-type: none;
  overflow: auto;
  padding-left: 10px;
<<<<<<< HEAD
  width: 70%;
=======
  width: 68%;
>>>>>>> f10d561e5107dbc7bc409dfafad903cba2466b46
}

li {
  margin-right: 10px;
}

.start-recipe--drink-button {
  bottom: 0;
  position: fixed;
}

