ul {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  height: 150px;
  list-style-type: none;
  overflow: auto;
  padding-left: 10px;
  width: 62%;
}

li {
  margin-right: 10px;
}

.start-recipe--drink-button {
  bottom: 0;
  position: fixed;
}
